{import "../../../templates/menu.latte"}
{import "defaultSlider.latte"}
{import "defaultWatch.latte"}
{import "defaultAdvert.latte"}
{import "defaultRead.latte"}
{block content}

<section>
    {include homepageSlider}
    {include menu}
</section>

<section>
    {include homepageWatch}
</section>

<section>
    {include homepageAdvert}
</section>

<section>
    {include homepageBlog}
</section>
