{import "slider.latte"}
{import "../../../templates/menu.latte"}
{import "watch.latte"}
{import "advert.latte"}
{import "read.latte"}

{block content}

{include hpSlider}
{include menu}
{include hpWatch}
{include hpAdvert}
{include article}
