@mixin bgSize {
    background-size: cover;
}

// == FOOTER ==
@mixin footerBg {
    background: url('../img/filmator/office.jpg') no-repeat center;
    @include bgSize;
}

@mixin pageTopic {
    background: url('../img/filmator/1.jpg') no-repeat center;
    @include bgSize;
}