/*
	---------------------------------------------------
				RESPONSIVE - TABLET DESIGN
	---------------------------------------------------
*/
@media only screen and (max-width: 910px) {
  /* 
  	========================
  			HOMEPAGE
  	========================
  */
  .slide-text {
    width: 60%;
  }
  /* top 5 */
  .film-part {
    display: block;
  }
  .responsive-flex {
    width: 100%;
  }
  .responsive-flex-one {
    margin-bottom: 50px;
  }
  .responsive-flex-two {
    margin-bottom: 20px;
  }
  .line-one, .line-two, .news-line-one, .news-line-two {
    width: 33.3%;
  }
  .topic-text, .news-topic-text {
    width: 33.3%;
  }
  /* film-news */
  .news-flex {
    display: block;
  }
  .news-column-one, .news-top-one, .news-top-two, .news-bot {
    width: 100%;
    height: 300px;
    margin: 0 0 20px 0;
  }
  .news-column-two {
    width: 100%;
    height: 100%;
  }
  .news-column-one .news-genre, .news-top-one .news-genre, .news-top-two .news-genre, .news-bot .news-genre {
    padding: 130px 0 0 0;
  }
  .news-top-one h2, .news-top-two h2, .news-bot h2 {
    font-size: 24px;
  }
  .news-top {
    display: block;
    margin: 0;
  }
}
@media only screen and (max-width: 825px) {
  /* 
  	========================
  			HOMEPAGE
  	========================
  */
  .slide-text {
    width: 80%;
  }
  /* footer */
  .footer .intern-container {
    display: block;
  }
  .footer-one-column {
    width: 100%;
    margin: 0 auto 50px auto;
  }
  .footer-logo {
    margin: 0 0 0 auto;
  }
  .footer-owner p {
    margin: 5px auto 0 10px;
  }
  .footer-text p {
    text-align: center;
  }
  .footer-sites-contain {
    margin: 0 auto 0 auto;
  }
  .footer-two-column, .footer-three-column {
    width: 160px;
    padding-left: 0;
  }
  .footer-responsive-flex {
    margin-bottom: 40px;
  }
  .footer-four-column {
    width: 100%;
  }
  .bg-white {
    width: 33px;
    height: 26px;
  }
  .bg-black {
    width: 33px;
    height: 26px;
  }
  /* header */
  .hamburger-div2 {
    display: flex;
  }
  .searching {
    display: none;
  }
  .nav-button {
    display: none;
  }
  .window-two {
    display: block;
  }
  .categories-responsive .categories-div a:hover {
    color: #ff8a00;
    transition: 0.2s;
  }
  .category-active-responsive {
    border-bottom: 2px solid #ff8a00;
    padding-bottom: 5px;
  }
}
@media only screen and (max-width: 600px) {
  /* 
  	========================
  			HOMEPAGE
  	========================
  */
  .slide-text {
    width: 100%;
  }
  /* top 5 */
  .line-one, .line-two, .news-line-one, .news-line-two {
    width: 20%;
  }
  .topic-text, .news-topic-text {
    width: 80%;
  }
  .reg-contain {
    display: block;
  }
  .reg-column-one, .reg-column-two, .reg-column-three {
    width: 100%;
    padding: 10px 0 10px 0;
  }
  .news-bot .news-genre {
    padding: 100px 0 0 0;
  }
  .news-column-two {
    margin-left: 0;
  }
  .controls {
    display: none;
  }
  .categories {
    display: none;
  }
  .menu-line2 {
    width: 40px;
  }
  .menu-line2::before {
    width: 40px;
  }
  .menu-line2::after {
    width: 40px;
  }
  .open2 .menu-line2::before {
    width: 40px;
  }
  .open2 .menu-line2::after {
    width: 40px;
  }
  .login-section {
    width: 100%;
  }
}
/*
	---------------------------------------------------
				RESPONSIVE - MOBILE DESIGN
	---------------------------------------------------
*/
@media only screen and (max-width: 380px) {
  /* 
  	========================
  			HOMEPAGE
  	========================
  */
  .footer-two-column {
    margin-left: 15%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body.auth--active {
  overflow-y: hidden;
}

.flexer {
  height: 100%;
  width: 100%;
  display: flex;
}

.darken {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.darken-shade-dark {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.darken-shade-light {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.container-extern {
  height: 100%;
  width: 100%;
}

.container-intern {
  height: 100%;
  width: 85%;
  margin: auto;
  max-width: 1200px;
}

.page-wrap {
  position: relative;
}
.page-wrap--light .player,
.page-wrap--light .watch,
.page-wrap--light .biography,
.page-wrap--light .news-content,
.page-wrap--light .read,
.page-wrap--light .section-user {
  background: #f5f5f5;
}
.slider__block-slide {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slider__block-wrap {
  height: 100%;
  width: 100%;
}
.slider .darken {
  display: flex;
  align-items: center;
}
.slider__item {
  display: none;
  width: 100%;
  height: 100%;
  -webkit-animation: slide 0.5s ease;
          animation: slide 0.5s ease;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.slider__item.slider__item--active {
  display: flex;
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.slider__slide-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider__image {
  height: 100%;
  width: 100%;
  position: absolute;
}
.slider__image-background {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.slider__content {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider__column--first {
  width: 50%;
  display: flex;
  align-items: center;
}
.slider__column--second {
  width: 50%;
}
.slider__content-wrap {
  text-align: left;
}
.slider__block-genre {
  margin-bottom: 5px;
}
.slider__text-genre {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-animation: captionText 0.3s ease forwards;
          animation: captionText 0.3s ease forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0;
}
.slider__heading-title {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 50px;
  font-weight: initial;
  -webkit-animation: captionText 0.3s ease forwards;
          animation: captionText 0.3s ease forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 0;
  margin-left: -3px;
}
.slider__block-rating {
  max-width: 130px;
  display: flex;
  margin-top: 3px;
  -webkit-animation: captionText 0.4s ease forwards;
          animation: captionText 0.4s ease forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0;
  margin: 7px 0 0 -3px;
}
.slider__image-rating {
  width: 80px;
  height: 12px;
  margin-top: 2px;
}
.slider__text-rating {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 16px;
  padding: 0 10px;
}
.slider__block-description {
  width: 80%;
  margin: 40px 0 60px 0;
}
.slider__text-description {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 18px;
  -webkit-animation: captionText 0.3s ease forwards;
          animation: captionText 0.3s ease forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.slider__link-button {
  text-decoration: none;
  display: inline-block;
  -webkit-animation: captionText 0.3s ease forwards;
          animation: captionText 0.3s ease forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.slider__controls--prev, .slider__controls--next {
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0.4;
}
.slider__controls--prev:hover, .slider__controls--next:hover {
  opacity: 1;
}
.slider__controls--next {
  right: 0;
}
.slider__controls--prev {
  left: 0;
}
.slider__image-controls--prev, .slider__image-controls--next {
  width: 30px;
  height: 30px;
}
.slider__indicator {
  position: absolute;
  left: 50%;
  bottom: 15px;
  z-index: 2;
  transform: translateX(-50%);
  display: flex;
  cursor: pointer;
}
.slider__indicator div {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}
.slider__indicator div.slider__item--active {
  background-color: white;
}
.slider__indicator div:not(:first-child) {
  margin-left: 14px;
}

.watch {
  padding: 35px 0 70px 0;
}
.watch__serial-wrap {
  margin-top: 25px;
}
.watch__block-topic {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
  position: relative;
}
.watch__topic-line--dark {
  width: 50%;
  height: 1px;
  background: #999999;
  margin: 23px 0 0 0;
}
.watch__topic-line--light {
  width: 50%;
  height: 1px;
  background: #ff8a00;
  margin: 23px 0 0 0;
}
.watch__topic-box--light {
  text-align: left;
  margin: 0 auto 0 10px;
}
.watch__topic-heading {
  color: black;
  font-family: Roboto Condensed Light;
  font-size: 35px;
  margin: 0 30px;
}
.watch .flexer {
  gap: 2%;
  width: 50%;
}
.watch__row {
  display: flex;
  gap: 1%;
  position: relative;
}
.watch__row:not(:first-child) .watch__item {
  margin-top: 60px;
}
.watch__item {
  width: 50%;
  height: 100%;
}
.watch__item-link {
  text-decoration: none;
}
.watch__item-link:hover .watch__item-image {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: scale(1.1);
  transition: 0.33s;
}
.watch__item-link:hover .watch__item-button-box {
  background: #ff8a00;
  transition: 0.35s;
}
.watch__item-image-box {
  overflow: hidden;
}
.watch__item-image {
  width: 100%;
  height: auto;
  max-height: 350px;
  transition: 0.33s;
  display: block;
}
.watch__item-button-box {
  height: 50px;
  width: 100%;
  background: black;
  display: flex;
  transition: 0.35s;
  border-top: 3px solid #f5f5f5;
  text-align: center;
  align-items: center;
}
.watch__item-button-text-wrap {
  width: 100%;
}
.watch__item-button-text {
  font-size: 17px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 14px 0 0 0;
  text-align: center;
  color: white;
  font-family: Roboto Condensed Regular;
}
.watch__item-button-image-wrap {
  height: 100%;
  width: 60px;
  border-left: 3px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch__item-button-image {
  height: 20px;
  width: 40px;
}
.watch__item-title {
  color: black;
  font-family: Roboto Condensed Light;
  font-size: 30px;
  padding: 15px 0 0 0;
}
.watch__item-rating-box {
  display: flex;
  align-items: center;
}
.watch__item-rating-image {
  width: 70px;
}
.watch__item-rating-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-left: 8px;
}
.watch__item-rating-text {
  color: black;
  font-family: Roboto Condensed Regular;
  font-size: 16px;
}
.watch__item-genre {
  font-size: 15px;
  text-transform: uppercase;
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
}
.watch__item-year-box {
  margin-top: 10px;
}
.watch__item-year {
  font-size: 16px;
  color: black;
  font-family: Roboto Condensed Regular;
}
.watch__error-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch__image-error {
  height: 250px;
  width: 200px;
  margin: 0 auto;
  display: block;
  opacity: 0.08;
}
.watch__text-error {
  margin-top: 20px;
  color: black;
  font-family: Roboto Condensed Light;
  text-align: center;
  font-size: 26px;
}
.watch__block-button {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.watch__button-link {
  text-decoration: none;
  display: inline-block;
}
.watch__block-picker {
  display: flex;
  margin: 0 0 30px 0;
  position: relative;
}
.watch__column-picker--second {
  display: flex;
  justify-content: flex-end;
}
.watch__link-picker {
  color: white;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 45px;
  list-style: none;
  background: #999999;
  padding: 0 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
  border: none;
  text-decoration: none;
  z-index: 1;
  position: relative;
}
.watch__link-picker--active {
  background: black;
}
.watch__link-picker:hover {
  background: #ff8a00;
  transition: 0.25s;
}
.watch__sort-picker {
  height: 45px;
  width: 45px;
  background: #999999;
  border-radius: 5px;
  transition: 0.25s;
  margin-left: 10px;
  cursor: pointer;
  z-index: 1;
}
.watch__sort-picker:hover {
  background: #ff8a00;
  transition: 0.25s;
}
.watch__list-picker {
  display: flex;
  list-style-type: none;
}
.watch__item-picker:not(:first-child) {
  margin-left: 13px;
}
.watch__topic-wrap {
  position: absolute;
  display: flex;
  width: 100%;
}

.banner {
  background: url("../img/banners/watching-tv.jpg") no-repeat center;
  background-size: cover;
}
.banner .darken {
  padding: 40px 0 50px 0;
}
.banner__heading--big {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 30px;
  text-align: center;
}
.banner__heading-box {
  margin-top: 5px;
}
.banner__heading--small {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.banner__column--first, .banner__column--second, .banner__column--third {
  width: 33.3%;
  padding: 10px;
  opacity: 0;
}
.banner__animation {
  -webkit-animation: captionTextReg 0.4s ease forwards;
          animation: captionTextReg 0.4s ease forwards;
}
.banner__column--first {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.banner__column--second {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.banner__column--third {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.banner__image {
  height: 70px;
  width: 70px;
  margin: 40px auto 25px auto;
  display: block;
}
.banner__text {
  color: white;
  font-family: Roboto Condensed Light;
  text-align: center;
  font-size: 18px;
}
.banner__text--strong {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  text-transform: uppercase;
}
.banner__block-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@-webkit-keyframes captionTextReg {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes captionTextReg {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.read {
  height: 100%;
  width: 100%;
  padding: 35px 0 70px 0;
}
.read__block-topic {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.read__topic-line--dark {
  width: 50%;
  height: 1px;
  margin-top: 18px;
  background: #999999;
}
.read__topic-line--light {
  width: 50%;
  height: 1px;
  margin-top: 18px;
  background: #ff8a00;
}
.read__topic-title {
  width: 300px;
  display: flex;
}
.read__topic-box--dark {
  text-align: right;
  margin: 0 0 0 auto;
}
.read__topic-box--light {
  text-align: left;
  margin: 0 auto 0 10px;
}
.read__topic-heading--dark {
  color: black;
  font-family: Roboto Condensed Light;
  font-size: 30px;
}
.read__topic-heading--light {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  font-size: 30px;
}
.read .darken {
  transition: 0.33s;
}
.read__row {
  display: flex;
  gap: 1.2%;
}
.read__row:not(:first-child) .read__item {
  margin-top: 15px;
}
.read__item {
  width: 32.5%;
  position: relative;
  display: block;
  overflow: hidden;
  max-height: 500px;
}
.read__item:hover .read__image {
  transform: scale(1.1);
  transition: 0.33s;
}
.read__item:hover .darken {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.33s;
}
.read__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.read__image {
  width: 100%;
  height: auto;
  transition: 0.33s;
  display: block;
}
.read__content {
  position: absolute;
  bottom: 20%;
}
.read__type {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 25px 0 25px;
  line-height: 2;
}
.read__title {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 24px;
  font-weight: normal;
  margin: 0 25px 0 25px;
}
.read__date {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 14px;
  line-height: 2.5;
}
.read__date-box {
  margin: 0 25px 0 25px;
}
.read__list-date {
  display: flex;
}
.read__item-date {
  list-style: none;
}
.read__item-date:not(:first-child) {
  margin-left: 5px;
}
.read__block-button {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.read__button-link {
  text-decoration: none;
  display: inline-block;
}

.section-user {
  padding: 35px 0 70px 0;
}
.section-user__menu {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.section-user__background-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 15px;
}
.section-user__background {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: cover;
     object-position: cover;
  transition: 0.33s;
}
.section-user__content {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-user__settings {
  height: 100%;
  width: 100%;
  background: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.22s;
}
.section-user__link-settings {
  height: 100%;
  width: 50px;
}
.section-user__link-settings:hover .section-user__settings {
  background: #ff8a00;
  transition: 0.32s;
}
.section-user__image-settings {
  height: 30px;
  width: 30px;
}
.section-user__content {
  margin-top: 10px;
}
.section-user__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-user__row:not(:first-child) {
  margin-top: 50px;
}
.section-user__column {
  width: 49%;
  position: relative;
}
.section-user__heading {
  font-size: 26px;
  color: black;
  font-family: Roboto Condensed Light;
  margin: 0 0 20px 0;
}
.section-user__link {
  width: 100%;
  display: flex;
  text-decoration: none;
  padding: 15px;
}
.section-user__image {
  height: 30px;
  width: 30px;
}
.section-user__image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.section-user__item {
  list-style-type: none;
  background: #e1e1e1;
  border-radius: 10px;
  transition: 0.32s;
}
.section-user__item:not(:first-child) {
  margin-top: 20px;
}
.section-user__item:hover {
  background: #ff8a00;
  transition: 0.32s;
}
.section-user__text {
  font-size: 20px;
  color: black;
  font-family: Roboto Condensed Regular;
  margin-left: 20px;
}
.section-user__text-box {
  display: flex;
  align-items: center;
}

.watch-liked {
  padding: 60px 0;
}

.topic-default {
  position: relative;
  z-index: 1;
}
.topic-default__content-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.topic-default__image-box {
  width: 100%;
  height: 100%;
  position: absolute;
}
.topic-default__image {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.topic-default__content {
  width: 100%;
  height: 100%;
  position: relative;
}
.topic-default__heading-box {
  padding: 200px 0 20px 0;
  width: 100%;
}
.topic-default__heading {
  z-index: 1;
  font-size: 60px;
  color: white;
  font-family: Roboto Condensed Light;
}
.topic-default__link {
  text-decoration: none;
  z-index: 1;
  font-size: 70px;
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  margin-right: 10px;
  transition: 0.25s;
}
.topic-default__link:hover {
  color: white;
  font-family: Roboto Condensed Light;
  transition: 0.25s;
}
.topic-default__heading-item {
  list-style: none;
  display: inline-block;
}

.actor {
  padding: 35px 0 70px 0;
}
.actor .flexer {
  width: 50%;
}
.actor__row {
  width: 100%;
  display: flex;
}
.actor__item {
  height: auto;
  width: 50%;
  position: relative;
}
.actor__item:hover .actor__image {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: scale(1.15);
  transition: 0.33s;
}
.actor__item:hover .actor__heading {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
  transition: 0.25s;
}
.actor__link {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.actor__content-wrap {
  padding: 25px 0;
}
.actor__image-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.actor__image {
  transition: 0.33s;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  min-height: 100%;
  width: 100%;
}
.actor__heading {
  color: black;
  font-family: Roboto Condensed Regular;
  transition: 0.25s;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.topic-detail.topic-detail--normal .topic-detail__heading-wrap {
  padding: 170px 0 30px 0;
}
.topic-detail.topic-detail--special .topic-detail__heading-wrap {
  padding: 200px 0 20px 0;
}
.topic-detail__content-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.topic-detail__image-box {
  width: 100%;
  height: 100%;
  position: absolute;
}
.topic-detail__image {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.topic-detail__content {
  width: 100%;
  height: 100%;
  position: relative;
}
.topic-detail__heading-wrap {
  width: 100%;
}
.topic-detail__title {
  color: white;
  font-family: Roboto Condensed Light;
  z-index: 1;
  font-size: 60px;
}
.topic-detail__translate-list {
  display: flex;
}
.topic-detail__translate-item {
  height: 20px;
  list-style: none;
}
.topic-detail__translate-item:not(:first-child) {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.topic-detail__translate-image {
  height: 100%;
  width: auto;
}
.topic-detail__translate {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 16px;
  z-index: 1;
}

.player {
  padding-top: 35px;
}
.player .flexer {
  justify-content: flex-end;
}
.player__block-rating {
  display: flex;
}
.player__column--first, .player__column--second {
  width: 50%;
  position: relative;
}
.player__column--first {
  display: flex;
}
.player__quality-box {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
.player__quality {
  color: white;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
}
.player__link-like {
  margin-left: 10px;
  display: inline-block;
}
.player__link-like:hover .player__like--check {
  background: #70ff57;
}
.player__link-like:hover .player__like--uncheck {
  background: #ff6464;
}
.player__like {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.22s;
}
.player__like--check {
  background: #26fc00;
  transition: 0.22s;
}
.player__like--uncheck {
  background: #e70000;
  transition: 0.22s;
}
.player__image-like {
  height: 25px;
  width: 25px;
}
.player__item {
  height: 50px;
  padding: 0 15px 0 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #ff8a00;
}
.player__item--second {
  background: #e70000;
}
.player__item:not(:first-child) {
  margin-left: 15px;
}
.player__rating--second {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player__list {
  display: flex;
  list-style: none;
}
.player__rating-text {
  color: black;
  font-family: Roboto Condensed Regular;
  font-size: 18px;
}
.player__rating-number {
  color: black;
  font-family: Roboto Condensed Regular;
}
.player__block-screen {
  margin: 20px 0 0 0;
}
.player__screen {
  width: 100%;
  height: auto;
  min-height: 600px;
  background: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player__button-play {
  background: white;
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.33s;
}
.player__button-play:hover {
  transition: 0.33s;
  transform: scale(1.2);
}
.player__image-play {
  height: 30px;
  width: 30px;
  margin-left: 7px;
}

.overview .darken {
  padding: 50px 0;
}
.overview__row {
  display: flex;
}
.overview__row:not(:first-child) {
  margin-top: 30px;
}
.overview__column {
  width: 50%;
  display: flex;
}
.overview__image {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.overview__poster {
  width: 180px;
  height: auto;
}
.overview__main-wrap {
  width: 100%;
  margin-left: 30px;
  padding-top: 30px;
}
.overview__item-fixed {
  width: 70px;
}
.overview__text-main {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 18px;
}
.overview__text-main--strong {
  color: white;
  font-family: Roboto Condensed Regular;
  font-size: 18px;
}
.overview__text-main--colored {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  text-transform: uppercase;
}
.overview__block-tags {
  margin-top: 30px;
}
.overview__list-tags {
  display: flex;
}
.overview__item-tags {
  height: 30px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background: white;
  list-style: none;
  border-radius: 30px;
}
.overview__item-tags:not(:first-child) {
  margin-left: 10px;
}
.overview__text-tags {
  color: black;
  font-family: Roboto Condensed Regular;
  font-size: 18px;
}
.overview__trailer-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.overview__trailer {
  height: 250px;
  width: 400px;
}
.overview__description-box {
  width: 90%;
  border-left: 2px solid #ff8a00;
  padding: 10px 0 10px 30px;
}
.overview__description {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 18px;
}
.overview__content-wrap-cast {
  width: 100%;
}
.overview__cast-wrap, .overview__actor-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.overview__cast, .overview__actor {
  width: 400px;
}
.overview__actor-wrap {
  margin-top: 30px;
}

.biography {
  padding: 35px 0;
}
.biography .flexer {
  justify-content: flex-end;
}
.biography .flexer:not(:first-child) {
  margin-top: 10px;
}
.biography__overview-wrap {
  width: 100%;
  display: flex;
}
.biography__cover-wrap {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.biography__cover-box {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}
.biography__cover {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  min-height: 100%;
  width: 100%;
}
.biography__column {
  border-left: 1px solid #999999;
  padding: 10px 30px;
}
.biography__column-menu {
  width: 50%;
}
.biography__item {
  width: 140px;
}
.biography__text {
  font-size: 18px;
  color: black;
  font-family: Roboto Condensed Light;
}
.biography__text--strong {
  color: black;
  font-family: Roboto Condensed Regular;
  font-size: 18px;
}
.biography__table--second {
  margin-top: 30px;
}
.biography__link-like {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.biography__link-like:hover .player__like--check {
  background: #70ff57;
}
.biography__link-like:hover .player__like--uncheck {
  background: #ff6464;
}
.biography__like {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.22s;
}
.biography__like--check {
  background: #26fc00;
  transition: 0.22s;
}
.biography__like--uncheck {
  background: #e70000;
  transition: 0.22s;
}
.biography__image-like {
  height: 25px;
  width: 25px;
}

.filmography .darken {
  padding: 50px 0;
}
.filmography__content {
  display: flex;
  width: 100%;
  gap: 10%;
}
.filmography__column {
  width: 45%;
}
.filmography__heading {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  text-align: center;
  font-size: 25px;
}
.filmography__description-block {
  height: 340px;
  margin-top: 30px;
  overflow: hidden;
}
.filmography__description {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 18px;
}
.filmography__button-block {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.filmography__button {
  background: #999999;
  border: none;
  padding: 0 15px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
}
.filmography__button:hover {
  background: #ff8a00;
  transition: 0.25s;
}
.filmography__button-text {
  color: white;
  font-family: Roboto Condensed Regular;
  font-size: 18px;
}
.filmography__hint-wrap {
  margin: 30px 0 15px 0;
}
.filmography__hint-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filmography__hint-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
}
.filmography__hint-color--first {
  background: white;
}
.filmography__hint-color--second {
  background: #ff8a00;
}
.filmography__hint-text {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 18px;
}
.filmography__list-hint {
  list-style: none;
  display: flex;
  justify-content: center;
}
.filmography__item-hint:not(:first-child) {
  margin-left: 30px;
}
.filmography__hint-box {
  display: flex;
}
.filmography__awards-box {
  margin-top: 20px;
  height: 280px;
  overflow: hidden;
}
.filmography__row:not(:first-child) {
  margin-top: 20px;
}
.filmography__heading-awards {
  color: white;
  font-family: Roboto Condensed Regular;
  font-size: 18px;
  font-weight: normal;
}
.filmography__text-awards {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 18px;
}
.filmography__text-awards--colored {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
}
.filmography__item-awards--basic {
  border-left: 3px solid white;
}
.filmography__item-awards--colored {
  border-left: 3px solid #ff8a00;
}
.filmography__item-awards--side {
  width: 50px;
  padding-left: 20px;
}
.filmography__item-awards--middle {
  width: 200px;
  padding-left: 20px;
}

.news-content {
  padding-top: 35px;
}
.news-content__block-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.news-content__tags {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
  font-size: 22px;
}
.news-content__date {
  color: black;
  font-family: Roboto Condensed Light;
  font-size: 18px;
}
.news-content__block-description {
  margin: 20px 0;
}
.news-content__description {
  color: black;
  font-family: Roboto Condensed Light;
  font-size: 22px;
}
.news-content__list {
  display: flex;
}
.news-content__item {
  list-style: none;
}
.news-content__item:not(:first-child) {
  margin-left: 5px;
}
.news-content__link-like {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.news-content__link-like:hover .player__like--check {
  background: #70ff57;
}
.news-content__link-like:hover .player__like--uncheck {
  background: #ff6464;
}
.news-content__like {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.22s;
}
.news-content__like--check {
  background: #26fc00;
  transition: 0.22s;
}
.news-content__like--uncheck {
  background: #e70000;
  transition: 0.22s;
}
.news-content__image-like {
  height: 25px;
  width: 25px;
}

.header__wrap {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background: transparent;
  transition: 0.3s ease-out;
}
.header__wrap--enabled {
  background: black;
  border-bottom: 1px solid #404040;
  transition: 0.3s ease-in;
}
.header__logo {
  height: 100%;
  width: 200px;
}
.header__logo:hover .header__heading-logo {
  transform: scale(1.05);
  transition: 0.25s;
}
.header__link-logo {
  height: 100%;
  display: flex;
  text-decoration: none;
}
.header__block-image-logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__block-heading-logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.header__image-logo {
  height: 50px;
  width: 30px;
}
.header__heading-logo {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: initial;
  transition: 0.25s;
  color: white;
  font-family: Otomanopee One;
}
.header .container-intern {
  display: flex;
}
.header__menu-desktop {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.header__search {
  height: 100%;
  height: 40px;
  margin-right: 20px;
}
.header__button-search {
  width: 50px;
  height: 42px;
  padding: 0;
  background: none;
  border-radius: 0 25px 25px 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  cursor: pointer;
  transition: 0.35s;
}
.header__input-search {
  width: 250px;
  z-index: 5;
  border-radius: 25px 0 0 25px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  outline: none;
  padding: 11px 0 10px 20px;
  margin-right: -2px;
  background: none;
  font-size: 16px;
  color: white;
  font-family: Roboto Condensed Light;
}
.header__input-search::-moz-placeholder {
  color: white;
  font-family: Roboto Condensed Light;
  opacity: 0.6;
}
.header__input-search:-ms-input-placeholder {
  color: white;
  font-family: Roboto Condensed Light;
  opacity: 0.6;
}
.header__input-search::placeholder {
  color: white;
  font-family: Roboto Condensed Light;
  opacity: 0.6;
}
.header__image-search {
  height: 18px;
  width: 18px;
  margin: 3px 2px 0 0;
}

.footer {
  background: url("../img/banners/office.jpg") no-repeat center;
  background-size: cover;
}
.footer .darken-shade-dark {
  padding: 40px 0 80px 0;
}
.footer__content-wrap {
  display: flex;
  width: 100%;
}
.footer__column--first, .footer__column--third {
  width: 25%;
}
.footer__column--second {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.footer__block-owner {
  display: flex;
  align-items: center;
}
.footer__owner-text-box {
  margin-left: 7px;
}
.footer__owner-text {
  color: white;
  font-family: Otomanopee One;
  font-size: 20px;
  text-transform: uppercase;
}
.footer__owner-image {
  height: 40px;
  width: 20px;
}
.footer__block-motto-box {
  padding: 15px 0 20px 0;
  border-bottom: 1px solid #ff8a00;
}
.footer__motto {
  font-size: 16px;
  color: white;
  font-family: Roboto Condensed Light;
}
.footer__block-site {
  margin-top: 20px;
}
.footer__link-site {
  border-radius: 30px;
}
.footer__link-site:not(:last-child) {
  margin-right: 10px;
}
.footer__site-box {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 30px;
  transition: 0.33s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__site-box:hover {
  background: #ff8a00;
  transition: 0.33s;
}
.footer__image-site {
  height: 18px;
  width: 18px;
}
.footer__navigation-heading {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
}
.footer__navigation-item {
  list-style-type: none;
  margin: 20px 0;
}
.footer__navigation-link {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s;
  padding: 8px 0;
}
.footer__navigation-link:hover {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  transition: 0.2s;
}
.footer__block-theme {
  text-align: center;
}
.footer__theme-text {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
}
.footer__theme-change {
  display: flex;
  border-bottom: 1px solid #ff8a00;
  padding: 15px 0 25px 0;
}
.footer__theme-change--light, .footer__theme-change--dark {
  height: 20px;
  border: 1px solid white;
  transition: 0.33s;
  cursor: pointer;
}
.footer__theme-change--light:hover, .footer__theme-change--dark:hover {
  background: #ff8a00;
  border: 1px solid #ff8a00;
  transition: 0.33s;
}
.footer__theme-change--light {
  width: 25px;
  border-radius: 10px 0 0 10px;
  background: white;
  margin: 0 0 0 auto;
  z-index: 1;
}
.footer__theme-change--dark {
  width: 26px;
  border-radius: 0 10px 10px 0;
  background: none;
  margin: 0 auto 0 -1px;
  z-index: 0;
}
.footer__block-creator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.footer__creator-link:hover .footer__creator-text {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  transition: 0.2s;
}
.footer__creator-image {
  height: 40px;
  width: 40px;
  margin: 0 auto 0 auto;
  display: block;
}
.footer__creator-text-box {
  text-align: center;
}
.footer__creator-text {
  color: white;
  font-family: Roboto Condensed Light;
  transition: 0.33s;
  text-decoration: none;
}

.category {
  height: 70px;
  width: 100%;
  background: black;
  border-top: 1px solid #404040;
  z-index: 1;
  position: relative;
}
.category__wrap {
  height: 100%;
  display: flex;
  margin: 0 auto 0 auto;
  justify-content: center;
}
.category__item {
  list-style-type: none;
  display: inline-block;
  padding: 20px 15px;
}
.category__link {
  color: white;
  font-family: Roboto Condensed Regular;
  font-size: 18px;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.7;
  transition: 0.1s;
}
.category__link.category__item--active {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
}
.category__link:hover {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
  transition: 0.2s;
}

.auth {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: all 0.33s;
}
.auth .flexer {
  justify-content: center;
  position: relative;
  align-items: center;
}
.auth--active {
  visibility: visible;
  opacity: 1;
}
.auth__content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.33s;
}
.auth__content--active {
  visibility: visible;
  opacity: 1;
}
.auth__content-wrap {
  width: 550px;
  border: 1.5px solid #404040;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 35px;
  display: flex;
  justify-content: center;
}
.auth__content-center {
  width: 450px;
  padding: 25px 0 35px 0;
}
.auth__block-heading {
  width: 100%;
  display: flex;
}
.auth__heading-box {
  width: 100%;
}
.auth__heading {
  font-size: 28px;
  text-align: center;
  font-weight: normal;
  margin-left: 30px;
  color: white;
  font-family: Roboto Condensed Light;
}
.auth__cross-box {
  height: 30px;
  width: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.auth__cross-box:hover .auth__cross::before, .auth__cross-box:hover .auth__cross::after {
  transition: 0.33s;
  background: #e70000;
}
.auth__cross::before, .auth__cross::after {
  width: 25px;
  height: 2px;
  border-radius: 5px;
  content: "";
  position: absolute;
  transition: 0.33s;
  margin-top: 14px;
  background: white;
}
.auth__cross::before {
  transform: rotate(45deg) translate(2px, -2px);
}
.auth__cross::after {
  transform: rotate(-45deg) translate(2px, 2px);
}
.auth__block-message {
  width: 100%;
  min-height: 30px;
  margin-top: 10px;
}
.auth__message-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth__message {
  color: white;
  font-family: Roboto Condensed Regular;
  font-size: 16px;
  display: none;
}
.auth__message--active {
  display: block;
}
.auth__message--error {
  color: #e70000;
}
.auth__message--success {
  color: #26fc00;
}
.auth__form-wrap:not(:first-child) {
  margin-top: 10px;
}
.auth__label-wrap {
  display: flex;
}
.auth__label-box {
  width: 50%;
  padding-left: 20px;
}
.auth__label {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 18px;
  transition: 0.25s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.auth__label:hover {
  color: #ff8a00;
  font-family: Roboto Condensed Light;
  transition: 0.25s;
}
.auth__required {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
  font-size: 18px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.auth__label-error-box {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.auth__label-error {
  color: white;
  font-family: Roboto Condensed Regular;
  color: #e70000;
  font-size: 16px;
  display: none;
}
.auth__label-error--active {
  display: block;
}
.auth__input-box {
  position: relative;
}
.auth__form {
  height: 40px;
  border-radius: 25px;
  border: 1px solid white;
  outline: none;
  padding: 0 20px;
  background: none;
  font-size: 16px;
  color: white;
  font-family: Roboto Condensed Light;
  width: 100%;
  box-sizing: border-box;
  margin: 5px auto 5px auto;
  position: relative;
}
.auth__form--error {
  border: 1px solid #e70000;
}
.auth__form--special {
  padding: 0 50px 0 20px;
}
.auth__image-eye-box {
  width: 40px;
  height: 100%;
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.auth__image-eye {
  width: auto;
  height: 10px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.auth__check-wrap {
  padding-left: 20px;
}
.auth__check {
  width: 20px;
  height: 20px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  background: none;
  border: 1px solid white;
  transition: 0.35s;
  margin-right: 10px;
}
.auth__check:checked {
  background: #ff8a00;
  border: 1px solid #ff8a00;
  transition: 0.25s;
}
.auth__check:hover {
  border: 1px solid #ff8a00;
  transition: 0.25s;
}
.auth__check--error {
  border: 1px solid #e70000;
}
.auth__text-check {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.auth__text-check--required {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
  margin-right: 4px;
  cursor: pointer;
}
.auth__text-check--second {
  margin-left: 11px;
}
.auth__check-box {
  display: flex;
}
.auth__check-box--first {
  margin: 10px 0;
}
.auth__check-box--second {
  margin: 10px 0 25px 0;
}
.auth__block-forgotten {
  margin-top: 8px;
}
.auth__forgotten-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.auth__forgotten-text {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 16px;
}
.auth__forgotten-text--colored {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
  padding: 5px;
  transition: 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.auth__forgotten-text--colored:hover {
  transition: 0.25s;
  color: #26fc00;
}
.auth__block-button {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
.auth__register-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.auth__register-text {
  color: white;
  font-family: Roboto Condensed Light;
  font-size: 16px;
}
.auth__register-text--colored {
  color: #ff8a00;
  font-family: Roboto Condensed Regular;
  padding: 5px;
  transition: 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.auth__register-text--colored:hover {
  transition: 0.25s;
  color: #26fc00;
}

.button {
  height: 40px;
  display: flex;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.35s;
  padding: 0 10px;
  cursor: pointer;
}
.button .button__block-image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.button .button__block-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.button .button__image {
  height: 20px;
  width: 20px;
  margin-bottom: 2px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button .button__text {
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button:hover {
  transition: 0.35s;
}
.button.button--light {
  color: black;
  font-family: Roboto Condensed Regular;
  background: white;
  border: 1px solid white;
}
.button.button--light:hover {
  background: #ff8a00;
  border: 1px solid #ff8a00;
}
.button.button--dark {
  color: white;
  font-family: Roboto Condensed Regular;
  background: black;
  border: 1px solid black;
}
.button.button--dark:hover {
  background: #ff8a00;
  border: 1px solid #ff8a00;
}
.button.button--special {
  color: white;
  font-family: Roboto Condensed Regular;
  background: #ff8a00;
  border: 1px solid #ff8a00;
}
.button.button--special:hover {
  background: #999999;
  border: 1px solid #999999;
}
.button.button--failure {
  color: white;
  font-family: Roboto Condensed Regular;
  background: #ff6464;
  border: 1px solid #ff6464;
}
.button.button--failure:hover {
  background: #e70000;
  border: 1px solid #e70000;
}
.button__link {
  text-decoration: none;
}

.reveal {
  position: relative;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease;
}
.reveal.reveal--active {
  transform: translateY(0px);
  opacity: 1;
}

.flash {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.33s;
  z-index: 6;
}
.flash__content {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 30px;
}
.flash__content--basic {
  background: #00c3ff;
  border: 1px solid #00c3ff;
}
.flash__content--success {
  background: #26fc00;
  border: 1px solid #26fc00;
}
.flash__text {
  color: white;
  font-family: Roboto Condensed Regular;
  font-size: 18px;
  text-align: center;
}
.flash.visible {
  visibility: visible;
  opacity: 1;
}

.background-icon {
  display: flex;
  width: 100%;
  height: 100%;
}
.background-icon__image--top {
  height: 300px;
  width: 500px;
  transform: rotate(110deg) scaleX(-1);
  opacity: 0.04;
  position: absolute;
  z-index: 0;
  margin: -55px 0 0 -240px;
}
.background-icon__image--bottom {
  height: 300px;
  width: 500px;
  transform: rotate(70deg);
  opacity: 0.04;
  position: absolute;
  z-index: 0;
  margin: -195px 0 0 -250px;
}

.module-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 2;
}
.module-button__link {
  text-decoration: none;
  border-radius: 50%;
}
.module-button__link:not(:first-child) .module-button__content {
  margin-top: 15px;
  background: #00c3ff;
}
.module-button__link:not(:first-child) .module-button__content:hover {
  background: #6cddff;
}
.module-button__link:not(:first-child) .module-button__image {
  transform: rotate(-45deg);
}
.module-button__content {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ff8a00;
  transition: 0.32s;
}
.module-button__content:hover {
  background: #ffaa45;
  transition: 0.32s;
}
.module-button__image {
  height: 30px;
  width: 30px;
}

@font-face {
  font-family: Roboto Condensed Regular;
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: Roboto Condensed Light;
  src: url("../fonts/RobotoCondensed-Light.ttf");
}/*# sourceMappingURL=style.css.map */