{import "../../../templates/menu.latte"}
{import "defaultTopic.latte"}
{import "defaultActor.latte"}
{block content}

<section>
    {include defaultTopic}
    {include menu}
</section>

<section>
    {include defaultActor}
</section>
