{import "../../../templates/menu.latte"}
{import "detailTopic.latte"}
{import "detailBiography.latte"}
{import "detailFilmography.latte"}
{import "detailWatch.latte"}
{block content}

<section>
    {include detailTopic}
    {include menu}
    {include detailBiography}
    {include detailFilmography}
</section>

<section>
    {include detailWatch}
</section>
