{import "hpSlider.latte"}
{import "../../../templates/menu.latte"}
{import "hpWatch.latte"}
{import "hpAdvert.latte"}
{import "hpRead.latte"}

{block content}

{include hpSlider}
{include menu}
{include hpWatch}
{include hpAdvert}
{include article}
