.auth {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.33s;

    .flexer {
        justify-content: center;
        position: relative;
    }

    &--active {
        visibility: visible;
        opacity: 1;
    }

    &__content {
        visibility: hidden;
        opacity: 0;
        margin-top: 15vh;
        position: absolute;
        transition: all 0.33s;

        &--active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__content-wrap {
        width: 550px;
        border: 1.5px solid $shadeLightPrimary;
        background: $darken;
        border-radius: 35px;
        display: flex;
        justify-content: center;
    }

    &__content-center {
        width: 450px;
        padding: 25px 0 35px 0;
    }

    // --- heading ---
    &__block-heading {
        width: 100%;
        display: flex;
    }

    &__heading-box {
        width: 100%;
    }

    &__heading {
        font-size: 28px;
        text-align: center;
        font-weight: normal;
        margin-left: 30px;
        @include lightThin;
    }

    &__cross-box {
        height: 30px;
        width: 30px;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        &:hover .auth__cross {

            &::before,
            &::after {
                transition: 0.33s;
                background: $red;
            }
        }
    }

    &__cross {

        &::before,
        &::after {
            width: 25px;
            height: 2px;
            border-radius: 5px;
            content: '';
            position: absolute;
            transition: 0.33s;
            margin-top: 14px;
            background: $secondary;
        }

        &::before {
            transform: rotate(45deg) translate(2px, -2px);
        }

        &::after {
            transform: rotate(-45deg) translate(2px, 2px);
        }
    }

    // --- form ---
    &__block-error {
        width: 100%;
        min-height: 30px;
        margin-top: 10px;
    }

    &__error-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__error {
        @include lightRegular;
        font-size: 16px;
        color: $red;
    }

    &__form-wrap:not(:first-child) {
        margin-top: 10px;
    }

    &__label-wrap {
        display: flex;
    }

    &__label-box {
        width: 50%;
        padding-left: 20px;
    }

    &__label {
        @include lightThin;
        font-size: 18px;
        transition: 0.25s;
        cursor: pointer;

        &:hover {
            @include coloredThin;
            transition: 0.25s;
        }
    }

    &__label-error-box {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    &__label-error {
        @include lightRegular;
        color: $red;
        font-size: 16px;
    }

    &__form {
        @include loginSection;
        width: 100%;
        box-sizing: border-box;
        margin: 5px auto 5px auto;

        &--error {
            border: 1px solid $red;
        }
    }

    // --- forgotten ---
    &__block-forgotten {
        margin-top: 8px;
    }

    &__forgotten-list {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    &__forgotten-text {
        @include lightThin;
        font-size: 16px;
    }

    &__forgotten-text--colored {
        @include coloredRegular;
        cursor: pointer;
        padding: 5px;
        transition: 0.25s;

        &:hover {
            transition: 0.25s;
            color: $green;
        }
    }

    // --- button ---
    &__block-button {
        margin: 30px 0;
        display: flex;
        justify-content: center;
    }

    // --- register link ---
    &__register-list {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    &__register-text {
        @include lightThin;
        font-size: 16px;
    }

    &__register-text--colored {
        @include coloredRegular;
        cursor: pointer;
        padding: 5px;
        transition: 0.25s;

        &:hover {
            transition: 0.25s;
            color: $green;
        }
    }

}