.topic-detail {

    &.topic-detail--normal .topic-detail__heading-wrap {
        padding: 170px 0 30px 0;
    }

    &.topic-detail--special .topic-detail__heading-wrap {
        padding: 200px 0 20px 0;
    }

    &__content-wrap {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__image-box {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

    &__content {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__heading-wrap {
        width: 100%;
    }

    &__title {
        @include lightThin;
        z-index: 1;
        font-size: 70px;
    }

    &__translate-list {
        display: flex;
    }

    &__translate-item {
        height: 20px;
        list-style: none;

        &:not(:first-child) {
            margin-left: 15px;
            display: flex;
            align-items: center;
        }
    }

    &__translate-image {
        height: 100%;
        width: auto;
    }

    &__translate {
        @include lightThin;
        font-size: 16px;
        z-index: 1;
    }
}

.player {
    padding-top: 35px;

    .flexer {
        justify-content: flex-end;
    }

    &__block-rating {
        display: flex;
    }

    // --- quality ---

    &__column--first,
    &__column--second {
        width: 50%;
    }

    &__quality-box {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__quality {
        @include lightRegular;
        font-size: 20px;
    }

    // --- rating ---

    &__item {
        height: 50px;
        padding: 0 15px 0 20px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background: $tercialy;

        &--second {
            background: $red;
        }

        &:not(:first-child) {
            margin-left: 15px;
        }
    }

    &__rating--second {
        width: 40px;
        height: 40px;
        margin-left: 8px;
        background: $secondary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__rating-text {
        @include darkRegular;
        font-size: 18px;
    }

    &__rating-number {
        @include darkRegular;
    }

    // --- screen ---

    &__block-screen {
        margin: 20px 0 0 0;
    }

    &__screen {
        width: 100%;
        height: auto;
        min-height: 600px;
        background: $primary;
    }
}

.overview {

    .darken {
        padding: 50px 0;
    }

    &__row {
        display: flex;

        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    &__column {
        width: 50%;
        display: flex;
    }

    // --- background image ---
    &__image {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

    // --- main ---

    &__poster {
        width: 180px;
        height: auto;
    }

    &__main-wrap {
        width: 100%;
        margin-left: 30px;
        padding-top: 30px;
    }

    &__item-fixed {
        width: 70px;
    }

    &__text-main {
        @include lightThin;
        font-size: 18px;

        &--strong {
            @include lightRegular;
            font-size: 18px;
        }

        &--colored {
            @include coloredThin;
            text-transform: uppercase;
        }
    }

    // --- tags ---

    &__block-tags {
        margin-top: 30px;
    }

    &__list-tags {
        display: flex;
    }

    &__item-tags {
        height: 30px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        background: $secondary;
        list-style: none;
        border-radius: 30px;

        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    &__text-tags {
        @include darkRegular;
        font-size: 18px;
    }

    // --- trailer ---

    &__trailer-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__trailer {
        height: 250px;
        width: 400px;
    }

    // --- description ---

    &__description-box {
        width: 90%;
        border-left: 2px solid $tercialy;
        padding: 10px 0 10px 30px;
    }

    &__description {
        @include lightThin;
        font-size: 18px;
    }

    // --- cast ---

    &__content-wrap-cast {
        width: 100%;
    }

    &__cast-wrap,
    &__actor-wrap {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__cast,
    &__actor {
        width: 400px;
    }

    &__actor-wrap {
        margin-top: 30px;
    }
}

.biography {

    padding: 35px 0;

    &__overview-wrap {
        width: 100%;
        display: flex;
    }

    // --- cover ---

    &__cover-wrap {
        margin-right: 30px;
        display: flex;
        align-items: center;
    }

    &__cover-box {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__cover {
        object-fit: contain;
        display: block;
        min-height: 100%;
        width: 100%;
    }

    &__column {
        border-left: 1px solid $grey;
        padding: 10px 30px;
    }


    &__item {
        width: 140px;
    }

    &__text {
        font-size: 18px;
        @include darkThin;

        &--strong {
            @include darkRegular;
            font-size: 18px;
        }
    }

    &__table {

        &--second {
            margin-top: 30px;
        }

    }
}

.filmography {

    .darken {
        padding: 50px 0;
    }

    &__content {
        display: flex;
        width: 100%;
        gap: 10%;
    }

    &__column {
        width: 45%;
    }

    &__heading {
        @include coloredThin;
        text-align: center;
        font-size: 25px;
    }

    // --- description ---

    &__description-block {
        height: 340px;
        margin-top: 30px;
        overflow: hidden;
    }

    &__description {
        @include lightThin;
        font-size: 18px;
    }

    // --- button ---

    &__button-block {
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    &__button {
        background: $grey;
        border: none;
        padding: 0 15px;
        height: 30px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
            background: $tercialy;
            transition: 0.25s;
        }
    }

    &__button-text {
        @include lightRegular;
        font-size: 18px;
    }

    // --- hint ---

    &__hint-wrap {
        margin: 30px 0 15px 0;
    }

    &__hint-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__hint-color {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 8px;

        &--first {
            background: $secondary;
        }

        &--second {
            background: $tercialy;
        }
    }

    &__hint-text {
        @include lightThin;
        font-size: 18px;
    }

    &__list-hint {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    &__item-hint:not(:first-child) {
        margin-left: 30px;
    }

    &__hint-box {
        display: flex;
    }

    // --- awards ---

    &__awards-box {
        margin-top: 20px;
        height: 280px;
        overflow: hidden;
    }

    &__row:not(:first-child) {
        margin-top: 20px;
    }

    &__heading-awards {
        @include lightRegular;
        font-size: 18px;
        font-weight: normal;
    }

    &__text-awards {
        @include lightThin;
        font-size: 18px;

        &--colored {
            @include coloredThin;
        }
    }

    &__item-awards {

        // nominated
        &--basic {
            border-left: 3px solid $secondary;
        }

        // won
        &--colored {
            border-left: 3px solid $tercialy;
        }

        &--side {
            width: 50px;
            padding-left: 20px;
        }

        &--middle {
            width: 200px;
            padding-left: 20px;
        }
    }
}

.news-content {

    padding-top: 35px;

    &__block-detail {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__tags {
        @include coloredRegular;
        font-size: 22px;
    }

    &__date {
        @include darkThin;
        font-size: 18px;
    }

    &__block-description {
        margin: 20px 0;
    }

    &__description {
        @include darkThin;
        font-size: 22px;
    }

}