.navigation {
    .container-extern {
        header {
            .main-menu {
                height: 70px;
                width: 100%;
                position: fixed;
                z-index: 5;

                &.non-active {
                    background: none;
                    transition: .3s ease-out;
                }

                &.scroll-active {
                    background: $primaryCol;
                    transition: .3s ease-in;
                }

                .container-intern {
                    display: flex;

                    .logo-part {
                        height: 100%;
                        width: 200px;

                        & a {
                            height: 100%;
                            display: flex;
                            text-decoration: none;
                        }

                        .logo {
                            &.image {
                                height: 100%;
                                display: flex;
                                align-items: center;

                                img {
                                    height: 50px;
                                    width: 30px;
                                }
                            }

                            &.heading {
                                height: 100%;
                                display: flex;
                                align-items: center;
                                margin-left: 15px;

                                span {
                                    font-size: 30px;
                                    text-transform: uppercase;
                                    @include whiteSpecial;
                                }
                            }
                        }
                    }

                    .menu {
                        display: flex;
                        height: 100%;
                        width: 100%;
                        justify-content: flex-end;
                        align-items: center;

                        .searching {
                            height: 100%;
                            height: 40px;
                            margin-right: 20px;

                            .search-part {
                                .search {
                                    &.find {
                                        input {
                                            width: 250px;
                                            z-index: 5;
                                            @include headerSearching;
                                        }
                                    }

                                    &.find-button {

                                        button {
                                            @include searchingButton;

                                            img {
                                                height: 18px;
                                                width: 18px;
                                                margin: 3px 2px 0 0;
                                            }
                                        }
                                    }
                                }
                            }

                            .search-part {
                                display: flex;
                            }
                        }

                        .button {
                            @include primaryButton;

                            &:hover {
                                @include primaryButtonHover;
                            }

                        }
                    }
                }

            }
        }
    }
}