.category {
    height: 70px;
    width: 100%;
    background: $primary;
    border-top: 1px solid $shadePrimary;
    z-index: 1;
    position: relative;

    &__wrap {
        height: 100%;
        display: flex;
        margin: 0 auto 0 auto;
        justify-content: center;
    }

    &__item {
        list-style-type: none;
        display: inline-block;
        padding: 20px 15px;
    }

    &__link {
        @include lightRegular;
        font-size: 18px;
        display: inline;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1.7;
        transition: 0.1s;

        &.category__item--active {
            @include coloredRegular;
        }

        &:hover {
            @include coloredRegular;
            transition: 0.2s;
        }
    }
}