.categories {
    height: 70px;
    width: 100%;
    background: $primary;
    border-top: 1px solid $grey;
    z-index: 1;
    position: relative;

    li {
        list-style-type: none;
        display: inline-block;
        padding: 20px 15px;
    }

    p {
        font-size: 17px;
        padding: 0 20px;
        text-transform: uppercase;
        line-height: 4.2;
    }

    .categories-div {
        height: 100%;
        display: flex;
        margin: 0 auto 0 auto;
        justify-content: center;

        a {
            @include lightRegular;
            font-size: 18px;
            display: inline;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 1.7;
            transition: 0.1s;

            &.category-active {

                @include lightRegular;
            }

            &:hover {
                @include coloredRegular;

                transition: 0.2s;
            }
        }
    }

}

.categories-responsive {
    height: 390px;
    width: 100%;
    margin-top: 40px;
    font-family: $primary;

    li {
        list-style-type: none;
        padding: 20px 15px;
        text-align: center;
    }
}