.auth {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.33s;

    .flexer {
        justify-content: center;
        position: relative;
        align-items: center;
    }

    &--active {
        visibility: visible;
        opacity: 1;
    }

    &__content {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.33s;

        &--active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__content-wrap {
        width: 550px;
        border: 1.5px solid $shadeLightPrimary;
        background: $darken;
        border-radius: 35px;
        display: flex;
        justify-content: center;
    }

    &__content-center {
        width: 450px;
        padding: 25px 0 35px 0;
    }

    // --- heading ---
    &__block-heading {
        width: 100%;
        display: flex;
    }

    &__heading-box {
        width: 100%;
    }

    &__heading {
        font-size: 28px;
        text-align: center;
        font-weight: normal;
        margin-left: 30px;
        @include lightThin;
    }

    &__cross-box {
        height: 30px;
        width: 30px;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        &:hover .auth__cross {

            &::before,
            &::after {
                transition: 0.33s;
                background: $red;
            }
        }
    }

    &__cross {

        &::before,
        &::after {
            width: 25px;
            height: 2px;
            border-radius: 5px;
            content: '';
            position: absolute;
            transition: 0.33s;
            margin-top: 14px;
            background: $secondary;
        }

        &::before {
            transform: rotate(45deg) translate(2px, -2px);
        }

        &::after {
            transform: rotate(-45deg) translate(2px, 2px);
        }
    }

    // --- form ---
    &__block-message {
        width: 100%;
        min-height: 30px;
        margin-top: 10px;
    }

    &__message-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__message {
        @include lightRegular;
        font-size: 16px;
        display: none;

        &--active {
            display: block;
        }

        &--error {
            color: $red;
        }

        &--success {
            color: $green;
        }
    }

    &__form-wrap:not(:first-child) {
        margin-top: 10px;
    }

    &__label-wrap {
        display: flex;
    }

    &__label-box {
        width: 50%;
        padding-left: 20px;
    }

    &__label {
        @include lightThin;
        font-size: 18px;
        transition: 0.25s;
        cursor: pointer;
        user-select: none;

        &:hover {
            @include coloredThin;
            transition: 0.25s;
        }
    }

    &__required {
        @include coloredRegular;
        font-size: 18px;
        cursor: pointer;
        user-select: none;
    }

    &__label-error-box {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    &__label-error {
        @include lightRegular;
        color: $red;
        font-size: 16px;
        display: none;

        &--active {
            display: block;
        }
    }

    &__input-box {
        position: relative;
    }

    &__form {
        @include loginSection;
        width: 100%;
        box-sizing: border-box;
        margin: 5px auto 5px auto;
        position: relative;

        &--error {
            border: 1px solid $red;
        }

        &--special {
            padding: 0 50px 0 20px;
        }
    }

    &__image-eye-box {
        width: 40px;
        height: 100%;
        position: absolute;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1;
    }

    &__image-eye {
        width: auto;
        height: 10px;
        position: relative;
        user-select: none;
        pointer-events: none;
    }

    &__check-wrap {
        padding-left: 20px;
    }

    &__check {
        width: 20px;
        height: 20px;
        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        background: none;
        border: 1px solid $secondary;
        transition: 0.35s;
        margin-right: 10px;

        &:checked {
            background: $tercialy;
            border: 1px solid $tercialy;
            transition: 0.25s;
        }

        &:hover {
            border: 1px solid $tercialy;
            transition: 0.25s;
        }

        &--error {
            border: 1px solid $red;
        }
    }

    &__text-check {
        @include lightThin;
        font-size: 16px;
        user-select: none;
        cursor: pointer;

        &--required {
            @include coloredRegular;
            margin-right: 4px;
            cursor: pointer;
        }

        &--second {
            margin-left: 11px;
        }
    }

    &__check-box {
        display: flex;

        &--first {
            margin: 10px 0;
        }

        &--second {
            margin: 10px 0 25px 0;
        }
    }

    // --- forgotten ---
    &__block-forgotten {
        margin-top: 8px;
    }

    &__forgotten-list {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    &__forgotten-text {
        @include lightThin;
        font-size: 16px;

        &--colored {
            @include coloredRegular;
            padding: 5px;
            transition: 0.25s;
            user-select: none;
            cursor: pointer;

            &:hover {
                transition: 0.25s;
                color: $green;
            }
        }
    }

    // --- button ---
    &__block-button {
        margin: 30px 0;
        display: flex;
        justify-content: center;
    }

    // --- register link ---
    &__register-list {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    &__register-text {
        @include lightThin;
        font-size: 16px;

        &--colored {
            @include coloredRegular;
            padding: 5px;
            transition: 0.25s;
            user-select: none;
            cursor: pointer;

            &:hover {
                transition: 0.25s;
                color: $green;
            }
        }
    }

}