.footer {
    @include footerBg;
    position: relative;

    .darken-shade-dark {
        padding: 40px 0 80px 0;
        position: relative;
    }

    &__image-box {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        object-fit: cover;
        object-position: center;
    }

    &__content-wrap {
        display: flex;
        width: 100%;
    }

    &__column--first,
    &__column--third {
        width: 25%;
    }

    &__column--second {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }

    // --- fisrt column ---

    // owner
    &__block-owner {
        display: flex;
        align-items: center;
    }

    &__owner-text-box {
        margin-left: 7px;
    }

    &__owner-text {
        @include lightSpecial;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__owner-image {
        height: 40px;
        width: 20px;
    }

    &__block-motto-box {
        padding: 15px 0 20px 0;
        border-bottom: 1px solid $tercialy;
    }

    &__motto {
        font-size: 16px;
        @include lightThin;
    }

    // sites
    &__block-site {
        margin-top: 20px;
    }

    &__link-site {
        border-radius: 30px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__site-box {
        height: 40px;
        width: 40px;
        background: $secondary;
        border-radius: 30px;
        transition: 0.33s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: $tercialy;
            transition: 0.33s;
        }
    }

    &__image-site {
        height: 18px;
        width: 18px;
    }

    // --- second & third column ---
    &__navigation-heading {
        @include coloredThin;
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 30px;
    }

    &__navigation-item {
        list-style-type: none;
        margin: 20px 0;
    }

    &__navigation-link {
        @include lightThin;
        font-size: 18px;
        text-decoration: none;
        transition: 0.2s;
        padding: 8px 0;

        &:hover {
            @include coloredThin;
            transition: 0.2s;
        }
    }

    // creator
    &__block-theme {
        text-align: center
    }

    &__theme-text {
        @include lightThin;
        font-size: 16px;
        line-height: 1.8;
        text-align: center;
    }

    &__theme-change {
        display: flex;
        border-bottom: 1px solid $tercialy;
        padding: 15px 0 25px 0;
    }


    &__theme-change--light,
    &__theme-change--dark {
        height: 20px;
        border: 1px solid $secondary;
        transition: 0.33s;
        cursor: pointer;

        &:hover {
            background: $tercialy;
            border: 1px solid $tercialy;
            transition: 0.33s;
        }
    }

    &__theme-change--light {
        width: 25px;
        border-radius: 10px 0 0 10px;
        background: $secondary;
        margin: 0 0 0 auto;
        z-index: 1;
    }

    &__theme-change--dark {
        width: 26px;
        border-radius: 0 10px 10px 0;
        background: none;
        margin: 0 auto 0 -1px;
        z-index: 0;
    }

    &__block-creator {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    &__creator-link-box {}

    &__creator-link:hover .footer__creator-text {
        @include coloredThin;
        transition: 0.2s;
    }

    &__creator-image-box {}

    &__creator-image {
        height: 40px;
        width: 40px;
        margin: 0 auto 0 auto;
        display: block;
    }

    &__creator-text-box {
        text-align: center;
    }

    &__creator-text {
        @include lightThin;
        transition: 0.33s;
        text-decoration: none;
    }
}