.register {
    height: 100%;
    width: 100%;
    @include advert;

    .darken {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        padding: 40px 0 50px 0;

        .container-intern {
            .heading {
                h2 {
                    font-size: 30px;
                    text-align: center;
                    @include lightLight;
                }

                h3 {
                    font-size: 20px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-top: 5px;
                    @include addLight;
                }
            }

            .block-content {
                display: flex;

                .column {
                    width: 33.3%;
                    padding: 10px;
                    opacity: 0;

                    &.animation {
                        animation: captionTextReg 0.4s ease forwards;
                    }

                    &.first {
                        animation-delay: 0.4s;
                    }

                    &.second {
                        animation-delay: 0.8s;
                    }

                    &.third {
                        animation-delay: 1.2s;
                    }

                    .block {
                        &.icon {
                            img {
                                height: 70px;
                                width: 70px;
                                margin: 0 auto 0 auto;
                                display: block;
                                padding: 40px 0 25px 0;
                            }
                        }

                        &.text {
                            p {
                                text-align: center;
                                @include lightLight;
                                font-size: 18px;
                            }

                            strong {
                                text-transform: uppercase;
                                color: $tertialyCol;
                                font-weight: normal;
                            }
                        }
                    }

                    @keyframes captionTextReg {
                        0% {
                            opacity: 0;
                            transform: translateX(-100px);
                        }

                        100% {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }
            }

            .block-button {
                a {
                    width: 160px;
                    margin: 40px auto 0 auto;
                    display: flex;
                    @include primaryButton;

                    &:hover {
                        @include primaryButtonHover;
                    }

                    .button {
                        display: flex;

                        .block {
                            &.icon {
                                img {
                                    height: 20px;
                                    width: 20px;
                                    margin: 9px 0 0 20px;
                                }
                            }

                            &.text {
                                span {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}