/*
	-------------------------------------------
						NEWS
	-------------------------------------------
*/
.news {
    height: 100%;
    width: 100%;
}

.news-dark {
    height: 100%;
    width: 100%;
}

.news-flex {
    display: flex;
}

.news {
    .top-lines {
        display: flex;
        margin-bottom: 20px;
    }
}

// == TOPIC ==
.news-topic-text {
    width: 28%;
    display: flex;
    text-align: center;
    display: block;
}

.news h1 {
    font-size: 30px;
    text-align: center;
    @include darkThin;
}

.news-dark h1 {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    @include lightThin;
}

.news-dark .news-line-one {
    background: $grey;
    font-weight: normal;
}

.news strong {
    color: $tercialy;
}

.news-dark strong {
    color: $tercialy;
    font-weight: normal;
}

.news-line-one {
    width: 36%;
    height: 1px;
    background: $grey;
    margin-top: 18px;
}

.news-line-two {
    width: 36%;
    height: 1px;
    background: $tercialy;
    margin-top: 18px;
}

// == CONTENT ==
.news-column-one {
    width: 49.3%;
    height: 440px;
    margin-right: 0.7%;
    overflow: hidden;
    @include newsBgOne;
}

.news-column-one .news-genre {
    padding: 270px 0 0 0;
}

.news-column-one a {
    text-decoration: none;
}

.news-column-one h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 25px 0 25px;
    @include newsContentFont;
}

.news-column-two {
    width: 49.3%;
    height: 230px;
    margin-left: 0.7%;
}

.news-top {
    display: flex;
    margin-bottom: 20px;
}

.news-top a {
    text-decoration: none;
}

.news-top-one {
    width: 48.5%;
    margin-right: 1.5%;
    @include newsBgTwo;
    height: 230px;
}

.news-top-one .news-genre {
    padding: 100px 0 0 0;
}

.news-top-two .news-genre {
    padding: 100px 0 0 0;
}

.news-top-one .news-date,
.news-top-two .news-date {
    padding: 0 0 25px 0;
}

.news-top-two {
    width: 48.5%;
    height: 230px;
    margin-left: 1.5%;
    @include newsBgThree;
}

.news-top-one h2,
.news-top-two h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 25px 0 25px;
    @include newsContentFont;
}

.news-bot {
    height: 190px;
    @include newsBgFour;
}

.news-bot a {
    text-decoration: none;
}

.news-bot h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 25px 0 25px;
    @include newsContentFont;
}

.news-bot .news-genre {
    padding-top: 60px;
}

.news-bot .news-date {
    padding-bottom: 16.5px;
}

.news-genre {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 25px 0 25px;
    line-height: 2;
    @include coloredRegular;
}

.news-date {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 25px 0 25px;
    line-height: 2.5;
    @include lightThin;
}

.news-darken {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.33s;
}

.news-darken:hover {
    background: rgba(0, 0, 0, 0.4);
    transition: 0.33s;
}

// == BUTTON ==
.news-button {
    width: 100%;
}

.news-button {
    margin-top: 20px;
    padding: 0 0 50px 0;
    display: flex;
    float: right;

    a {
        display: inline-block;
        text-decoration: none;
    }
}