.slider {

    &__block-slide {
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    &__block-wrap {
        height: 100%;
        width: 100%;
    }

    .darken {
        display: flex;
        align-items: center;
    }

    &__item {
        display: none;
        width: 100%;
        height: 100%;
        animation: slide 0.5s ease;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        &.slider__item--active {
            display: flex;
        }

        @keyframes slide {
            0% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }
    }

    &__slide-wrap {
        width: 100%;
        height: 100%;
        position: relative;
    }


    // -- image --
    &__image {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    &__image-background {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        object-fit: cover;
        object-position: center;
    }

    // -- content --
    &__content {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__column--first {
        width: 50%;
        display: flex;
        align-items: center;
    }

    &__column--second {
        width: 50%;
    }

    &__content-wrap {
        text-align: left;
    }

    // genre
    &__block-genre {
        margin-bottom: 5px;
    }

    &__text-genre {
        @include coloredRegular;
        font-size: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        animation: captionText .3s ease forwards;
        animation-delay: 0.3s;
        opacity: 0;
    }

    // title
    &__heading-title {
        @include lightThin;
        font-size: 50px;
        font-weight: initial;
        animation: captionText .3s ease forwards;
        animation-delay: 0s;
        opacity: 0;
        margin-left: -3px;
    }

    // rating
    &__block-rating {
        max-width: 130px;
        display: flex;
        margin-top: 3px;
        animation: captionText .4s ease forwards;
        animation-delay: 0.3s;
        opacity: 0;
        margin: 7px 0 0 -3px;
    }

    &__image-rating {
        width: 80px;
        height: 12px;
        margin-top: 2px;
    }

    &__text-rating {
        @include lightThin;
        font-size: 16px;
        padding: 0 10px;
    }

    // description
    &__block-description {
        width: 80%;
        margin: 40px 0 60px 0;
    }

    &__text-description {
        @include lightThin;
        font-size: 18px;
        animation: captionText .3s ease forwards;
        animation-delay: 0s;
    }

    // button
    &__link-button {
        text-decoration: none;
        display: inline-block; // does not count paddings
        animation: captionText .3s ease forwards;
        animation-delay: 0s;
    }

    @keyframes captionText {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    &__controls--prev,
    &__controls--next {
        position: absolute;
        z-index: 2;
        top: 50%;
        height: 40px;
        width: 40px;
        margin-top: -20px;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        cursor: pointer;
        transition: all .5s ease;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }

    &__controls--next {
        right: 0;
    }

    &__controls--prev {
        left: 0;
    }

    &__image-controls--prev,
    &__image-controls--next {
        width: 30px;
        height: 30px;
    }

    &__indicator {
        position: absolute;
        left: 50%;
        bottom: 15px;
        z-index: 2;
        transform: translateX(-50%);
        display: flex;
        cursor: pointer;

        div {
            display: inline-block;
            width: 13px;
            height: 13px;
            border: 1px solid $secondary;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;

            &.slider__item--active {
                background-color: $secondary;
            }

            &:not(:first-child) {
                margin-left: 14px;
            }
        }
    }

}