.content {
    .homepage {

        &.movie {
            padding: 40px 0 0 0;
            margin-bottom: 20px;
        }

        &.serial {
            padding: 0 0 50px 0;
        }

        .container-intern {
            .content-block {

                .background-icon {
                    display: flex;
                    width: 100%;
                    height: 100%;

                    &.top {
                        img {
                            height: 300px;
                            width: 500px;
                            transform: rotate(110deg) scaleX(-1);
                            opacity: 0.04;
                            position: absolute;
                            z-index: 0;
                            margin: -55px 0 0 -240px;
                        }
                    }

                    &.bottom {
                        display: flex;
                        width: 100%;
                        height: 100%;

                        img {
                            height: 300px;
                            width: 500px;
                            transform: rotate(70deg);
                            opacity: 0.04;
                            position: absolute;
                            z-index: 0;
                            margin: -195px 0 0 -250px;
                        }
                    }
                }

                .topic {
                    width: 100%;
                    display: flex;
                    padding: 0 0 25px 0;

                    .line {
                        width: 50%;
                        height: 1px;
                        margin-top: 18px;

                        &.dark {
                            background: $quaternaryCol;
                        }

                        &.light {
                            background: $tertialyCol;
                        }

                    }

                    .title {
                        width: 300px;
                        display: flex;

                        .heading {
                            h3 {
                                font-size: 30px;
                                font-family: $secondaryFont;
                            }

                            &.dark {
                                color: $darkFont;
                                text-align: right;
                                margin: 0 0 0 auto;
                            }

                            &.light {
                                color: $addFont;
                                text-align: left;
                                margin: 0 auto 0 10px;
                            }
                        }
                    }
                }

                .watch-block {
                    .row {
                        display: flex;
                        gap: 1%;
                        @include watch;
                    }
                }

                .button-part {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;

                    a {
                        display: inline-block;
                        text-decoration: none;

                        .button {
                            @include secondaryButton;
                        }
                    }
                }
            }
        }
    }
}