{import "hpSlider.latte"}
{import "../../../_template/menu.latte"}
{import "hpWatch.latte"}
{import "advert.latte"}
{import "article.latte"}

{block content}

{include hpSlider}
{include menu}
{include hpWatch}
{include advert}
{include article}
