{import "slider.latte"}
{import "../../../_template/menu.latte"}
{import "watch.latte"}
{import "advert.latte"}
{import "article.latte"}

{block content}

{include slider}
{include menu}
{include watch}
{include advert}
{include article}
