{import "../../../templates/menu.latte"}
{import "detailTopic.latte"}
{import "detailContent.latte"}
{import "detailRead.latte"}
{block content}

<section>
    {include detailTopic}
    {include menu}
</section>

<section>
    {include detailContent}
</section>

<section>
    {include detailRead}
</section>
