services:
    - App\Module\Front\components\Login\LoginFactory
    - App\Module\Front\components\Register\RegisterFactory
    - App\Module\Front\components\Forgotten\ForgottenFactory

    - App\Module\Front\Actor\components\ButtonLike\ButtonLikeFactory
    - App\Module\Front\Article\components\ButtonLike\ButtonLikeFactory
    - App\Module\Front\Article\components\ButtonLater\ButtonLaterFactory
    - App\Module\Front\Movie\components\ButtonLike\ButtonLikeFactory
    - App\Module\Front\Movie\components\ButtonLater\ButtonLaterFactory
    - App\Module\Front\Serial\components\ButtonLike\ButtonLikeFactory
    - App\Module\Front\Serial\components\ButtonLater\ButtonLaterFactory

    - App\Module\Admin\Edit\Component\EditMovie\EditMovieFactory
