{import "../../../templates/menu.latte"}
{import "detailTopic.latte"}
{import "detailPlayer.latte"}
{import "detailOverview.latte"}
{import "detailWatch.latte"}
{block content}

<section>
    {include detailTopic}
    {include menu}
    {include detailPlayer}
    {include detailOverview}
</section>
<section>
    {include detailWatch}
</section>

