services:
	- App\Model\Facade\Admin\Content\Image\ImageFacade
	- App\Model\Facade\Admin\Content\Month\MonthFacade
	- App\Model\Facade\Admin\Content\Trailer\TrailerFacade

	- App\Model\Facade\Front\Auth\AuthorizationFacade
	- App\Model\Facade\Front\Auth\AuthenticationFacade
	- App\Model\Facade\Front\InputCheck\InputCheckFacade
	- App\Model\Facade\Front\EmailForgotten\EmailForgottenFacade

	- App\Model\Facade\Common\AutoIncrement\AutoIncrementFacade
	- App\Model\Facade\Common\PermanentLogin\PermanentLoginFacade

	- App\Model\Facade\User\ButtonLater\LaterArticleFacade
	- App\Model\Facade\User\ButtonLater\LaterMovieFacade
	- App\Model\Facade\User\ButtonLater\LaterSerialFacade

	- App\Model\Facade\User\Like\ActorLikeFacade
	- App\Model\Facade\User\Like\ArticleLikeFacade
	- App\Model\Facade\User\Like\MovieLikeFacade
	- App\Model\Facade\User\Like\SerialLikeFacade

	- App\Model\Facade\User\Last\ArticleLastFacade
	- App\Model\Facade\User\Last\MovieLastFacade
	- App\Model\Facade\User\Last\SerialLastFacade
