# Main configuration file, has to include every other file

parameters:
	doctrine:
		host: mariadb
		user: root
		password: root
		dbname: filmator

application:
	errorPresenter: Ghost:Error
	mapping:
		*: [App\Module, * ,*\*Presenter]

session:
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

includes:
	- extensions.neon
	- doctrine.neon
	- webpack.neon
