services:
    - App\Module\Ghost\_component\Login\LoginFactory
    - App\Module\Ghost\_component\Register\RegisterFactory
    - App\Module\Ghost\_component\Forgotten\ForgottenFactory

    - App\Module\Ghost\Movie\Component\LikeButton\LikeButtonFactory
    - App\Module\Ghost\Serial\Component\LikeButton\LikeButtonFactory
    - App\Module\Ghost\Article\Component\LikeButton\LikeButtonFactory
    - App\Module\Ghost\Actor\Component\LikeButton\LikeButtonFactory

    - App\Module\Ghost\Movie\Component\WatchButton\WatchButtonFactory
    - App\Module\Ghost\Serial\Component\WatchButton\WatchButtonFactory
    - App\Module\Ghost\Article\Component\WatchButton\WatchButtonFactory

    - App\Module\Admin\Edit\Component\EditMovie\EditMovieFactory
