{block content}
<div class="content">
    <h1>Přidat serial</h1>

    <div class="block">
        <a n:href=":Admin:Add:">zpět na výběr</a>
    </div>
    {control serial}
</div>
<style>
    .content{
        padding: 20px 0;
    }
    .content h1{
        text-align: center;
    }
    table{
        margin: 0 auto;
    }
    .content .block{
        background: yellowgreen;
        text-align: center;
        padding: 20px 0;
        margin: 20px 0;
    }

</style>