{block notFound}

<div class="watch__error-wrap">
    <div>
        <img src="../../img/icons/glass-error.svg" class="watch__image-error">
        <h2 class="watch__text-error">Nedostatek dat k zobrazení</h2>
    </div>
</div>