@mixin h-button-search {
    width: 50px;
    height: 42px;
    padding: 0;
    background: none;
    border-radius: 0 25px 25px 0;
    border-top: 1px solid $secondary;
    border-right: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
    cursor: pointer;
    transition: 0.35s;
}

@mixin h-input-search {
    border-radius: 25px 0 0 25px;
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
    outline: none;
    padding: 11px 0 10px 20px;
    margin-right: -2px;
    background: none;
    font-size: 16px;
    @include lightThin;

    &::placeholder {
        @include lightThin;
        opacity: 0.6;
    }
}