@mixin buttonRules {
    height: 40px;
    display: flex;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.35s;
    padding: 0 10px;
    cursor: pointer;

    .block {

        &.icon {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;

            img {
                height: 20px;
                width: 20px;
                margin-bottom: 2px;
            }
        }

        &.text {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;

            span {
                font-size: 18px;
            }
        }
    }

    &:hover{
        transition: 0.35s;
    }
}

@mixin primaryButton {
    @include buttonRules;
    @include lightRegular;
    background: $tertialyCol;
    border: 1px solid $tertialyCol;

    &:hover{
        background: $quaternaryCol;
        border: 1px solid $quaternaryCol;
    }
}

@mixin secondaryButton {
    @include buttonRules;
    @include lightRegular;
    background: $primaryCol;
    border: 1px solid $primaryCol;

    &:hover{
        background: $quaternaryCol;
        border: 1px solid $quaternaryCol;
    }
}

@mixin tercialyButton {
    @include buttonRules;
    @include darkRegular;
    background: $secondaryCol;
    border: 1px solid $secondaryCol;

    &:hover{
        background: $tertialyCol;
        border: 1px solid $tertialyCol;
    }
}