// dark
@mixin darkThin {
    color: $primary;
    font-family: $fontPrimaryLight;
}

@mixin darkRegular {
    color: $primary;
    font-family: $fontPrimaryRegular;
}

// light
@mixin lightThin {
    color: $secondary;
    font-family: $fontPrimaryLight;
}

@mixin lightRegular {
    color: $secondary;
    font-family: $fontPrimaryRegular;
}

@mixin lightSpecial {
    color: $secondary;
    font-family: $fontSecondaryRegular;
}

// special
@mixin coloredThin {
    color: $tercialy;
    font-family: $fontPrimaryLight;
}

@mixin coloredRegular {
    color: $tercialy;
    font-family: $fontPrimaryRegular;
}

