@import "mixin/button";
@import "mixin/font";
@import "mixin/watch";

// content padding
@mixin h-content {
	padding: 35px 0 70px 0;
}

@mixin loginSection {
	height: 40px;
	border-radius: 25px;
	border: 1px solid $secondary;
	outline: none;
	padding: 0 0 0 20px;
	background: none;
	font-size: 16px;
	@include lightThin;
}

// == CONTENT ==
@mixin newsContentFont {
	@include lightThin;
}