@import "mixin/button";
@import "mixin/font";
@import "mixin/watch";

// content padding
@mixin h-content {
	padding: 35px 0 70px 0;
}

@mixin loginSection {
	height: 40px;
	border-radius: 25px;
	border: 1px solid $secondary;
	outline: none;
	padding: 0 0 0 20px;
	background: none;
	font-size: 16px;
	@include lightThin;
}

// == CONTENT ==
@mixin newsContentFont {
	@include lightThin;
}

// == SITES == 
@mixin siteLogo {
	height: 18px;
	width: 18px;
	margin: 10px 0 0 11.2px;
}

@mixin siteDiv {
	height: 40px;
	width: 40px;
	background: $tercialy;
	border-radius: 30px;
	transition: 0.33s;
}

@mixin siteDivHover {
	background: #f5f5f5;
	transition: 0.33s;
}

@mixin siteHref {
	border-radius: 30px;
	margin-left: 10px;
}

// == BACKGROUND CHANGE ==
@mixin bgChangeHover {
	background: $tercialy;
	border: 1px solid $tercialy;
	transition: 0.33s;
	cursor: pointer;
}