// main colors
$primary: black;
$secondary: white;
$tercialy: #ff8a00;

$shadePrimary: #404040;
$shadeSecondary: #e1e1e1;
$shadeTercialy: #ffaa45;

// background
$backgroundPrimary: #1e1e1e;
$backgroundSecondary: #f5f5f5;

// colors
$darken: rgba(0, 0, 0, 0.7);
$transparent: transparent;

$grey: #999999;
$red: #e70000;
$green: #4feb34;

// fonts
$fontPrimaryLight: Roboto Condensed Light;
$fontPrimaryRegular: Roboto Condensed Regular;
$fontSecondaryRegular: Otomanopee One;