// imports
@import "variables";
@import "mixins";
@import "banners";
@import "responsive";

// pages
@import "pages/homepage";

// repeating
@import "repeating/default";
@import "repeating/detail";
@import "repeating/header";
@import "repeating/footer";
@import "repeating/menu";
@import "repeating/auth";

// global
@import "global/button";
@import "global/reveal";
@import "global/flash";
@import "global/tapes";

// HTML
* {
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
}

.flexer {
	height: 100%;
	width: 100%;
	display: flex;
}

.darken {
	height: 100%;
	width: 100%;
	background: $darken;
}

// containers
.container-extern {
	height: 100%;
	width: 100%;
}

.container-intern {
	height: 100%;
	width: 85%;
	margin: auto;
	max-width: 1200px;
}

@font-face {
	font-family: Roboto Condensed Regular;
	src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
	font-family: Roboto Condensed Light;
	src: url('../fonts/RobotoCondensed-Light.ttf');
}