// imports main
@import "variables";
@import "mixins";
@import "banners";
@import "responsive";

// HTML
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

body.auth--active {
	overflow-y: hidden;
}

.flexer {
	height: 100%;
	width: 100%;
	display: flex;
}

.darken {
	height: 100%;
	width: 100%;
	background: $darken;
}

.darken-shade-dark {
	height: 100%;
	width: 100%;
	background: $shadeDarkDarken;
}

.darken-shade-light {
	height: 100%;
	width: 100%;
	background: $shadeLightDarken;
}

// containers
.container-extern {
	height: 100%;
	width: 100%;
}

.container-intern {
	height: 100%;
	width: 85%;
	margin: auto;
	max-width: 1200px;
}

// theme
.page-wrap {
	&--light {

		.player,
		.watch,
		.biography,
		.news-content,
		.read {
			background: $backgroundSecondary;
		}
	}

	&--dark {}
}

// pages
@import "pages/homepage";

// repeating
@import "repeating/default";
@import "repeating/detail";
@import "repeating/header";
@import "repeating/footer";
@import "repeating/menu";
@import "repeating/auth";

// global
@import "global/button";
@import "global/reveal";
@import "global/flash";
@import "global/tapes";

// import fonts
@font-face {
	font-family: Roboto Condensed Regular;
	src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
	font-family: Roboto Condensed Light;
	src: url('../fonts/RobotoCondensed-Light.ttf');
}